@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-ExtraLight.ttf');
     font-weight: 200;
<<<<<<< HEAD
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-Light.ttf');
     font-weight: 300;
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-Regular.ttf');
     font-weight: 400;
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-Medium.ttf');
     font-weight: 500;
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-SemiBold.ttf');
     font-weight: 600;
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-Bold.ttf');
     font-weight: 700;
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-Black.ttf');
     font-weight: 800;
}
body{
     font-family: Poppins; 
=======
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-Light.ttf');
     font-weight: 300;
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-Regular.ttf');
     font-weight: 400;
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-Medium.ttf');
     font-weight: 500;
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-SemiBold.ttf');
     font-weight: 600;
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-Bold.ttf');
     font-weight: 700;
}
@font-face {
     font-family: Poppins;
     src: url('../../public/fonts/poppins/Poppins-Black.ttf');
     font-weight: 800;
}
body{
     font-family: Poppins; 
}


.serviceCard-shadow {
     box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.50);
}

.single_service p{
     margin-top: 1rem;
}

.single_service h2, .single_service h3, .single_service h4{
     font-size: 1.4rem;
     font-weight: 600;
     margin: 1rem 0;
     text-align: center;
}
.single_service img{
     width:  100%;
     margin-bottom: 1.5rem;
>>>>>>> main
}